{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="George W. Park">
    <meta name="description"
          content="This project demonstrates how CSS grid (with flexbox and float fallback) can be used to re-create the layout of an Instagram profile page.">

    <!-- Title -->
    <title>Instagram Profile Layout</title>

    <!-- External CSS Files -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

</head>
<body>

<header>

    <div class="container">

        <div class="profile">

            <div class="profile-image">

                <img src="{{ author.picture.url }}" alt="" style="width:300px;height:300px;">

            </div>

            <div class="profile-user-settings">
                <h1 class="profile-user-name">{{ author.user.username }}</h1>
                {% if request.user == author.user %}
                <a href="/setting" class="btn profile-edit-btn">Edit Profile</a>
                <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog"
                                                                                          aria-hidden="true"></i>
                </button>
                <div class="space-y-1">
                <button>
                    <a href="/delete_user/?user_id={{ author.id }}"
                       class="flex items-center px-3 py-2 text-red-500 hover:bg-red-100 hover:text-red-500 rounded-md ">
                        <i class="uil-trash-alt mr-1"></i> Delete account
                    </a>
                </button>
                </div>
                {% endif %}

            </div>

            <div class="profile-stats">
                <div>


                </div>
                <ul>
                    <li><span class="profile-stat-count">{{ len_posts }}</span> posts</li>
                    <li><span class="profile-stat-count">{{ len_follower }}</span> followers</li>
                    <li><span class="profile-stat-count">{{ len_following }}</span> following</li>
                </ul>
                     <ul>
                        {% if request.user == author.user %}
                         {% else %}
                        <li>
                            <a href="/follow/?user_id={{ author.user.id }}">
                            <button>
                                follow
                            </button>
                            </a>
                        </li>
                        <li>
                            <a href="/follow/?user_id={{ author.user.id }}">
                                <button>unfollow</button>
                            </a>

                        </li>
                         {% endif %}
                    </ul>

            </div>

            <div class="profile-bio">
                {% if author.first_name is not None %}
                <p><span class="profile-real-name">{{ author.first_name }}</span> </p>
                {% endif %}
            </div>

        </div>
        <!-- End of profile section -->

    </div>
    <!-- End of container -->

</header>

<main>

    <div class="container">

        <div class="gallery">
            {% for post in posts %}
            <div class="gallery-item" tabindex="0">

                <img src="{{ post.image.url }}" class="gallery-image" alt="">

                <div class="gallery-item-info">

                    <ul>
                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                class="fas fa-heart" aria-hidden="true"></i> {{ post.likes_count }}
                        </li>
                        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i
                                class="fas fa-comment" aria-hidden="true"></i> {{ post.comments_count }}
                        </li>
                    </ul>

                </div>

            </div>
            {% endfor %}
        </div>
        <!-- End of gallery -->


    </div>
    <!-- End of container -->

</main>

</body>
</html>
